body:has(.login-container) main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #1ee55a08 0%, transparent 45%), var(--bg-color);
}

.login-container {
    width: 380px;
    min-height: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-lg);
    box-shadow: 0 20px 60px #00000055;
}

.login-container h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-box label {
    font-size: 14px;
    color: var(--text-secondary);
}

input {
    width: 100%;
    padding: 11px 13px;
    color: var(--text-light);
    background: var(--bg-input);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    transition: 0.2s ease;
}

input::placeholder {
    color: #666;
}

input:hover {
    border-color: #ffffff25;
}

input:focus {
    border-color: var(--principal-color);
    box-shadow: 0 0 0 3px #1ee55a12;
}