*{
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

:root{
    --bg-color: #212121;
    --bg2-color: #111111;
    --glass: #fffefe0c;
    --border-color: #7c7c7c38;
    --radius-sm: 5px;
    --radius-md: 10px;
    --text-light: #fff;
    --principal-color: #1ee55a;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-light)
}

.login-container{
    width: 350px;
    height: 300px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--bg2-color);
    color: var(--text-light);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-full{
    width: 100%;
    padding: 10px 50px;
    border: none;
    border-radius: var(--radius-sm);
    color: var(--text-light);
    cursor: pointer;
}

.primary-btn{
    background: var(--principal-color);
}

input {
    color: var(--text-light);
    width: 100%;
    border: 1px solid var(--border-color);
    background: var(--glass);
    padding: 5px;
    border-radius: var(--radius-sm);
    &:focus {
        border-color: var(--principal-color);
    }
}